<launch>
    <!-- 'name="node_name"' attribute should match the name in the python file -->
    <!-- rospy.init_node('node_name', anonymous=True) -->
    <node pkg="teleop_twist_keyboard"
        type="teleop_twist_keyboard.py"
        name="drone_manual_controller"
        output="screen"
        launch-prefix="xterm -e" />
    <!-- node to direct twist messages to the drone to their planar and vertical handlers -->
	<node pkg="drone_desc" type="drone_cmd_bridge.py" name="drone_cmd_bridge" output="screen"/>
</launch>